///////////////////////////////////////////////
// review section

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;


  @media only screen and (max-width: $bp-medium){
    gap: 2rem;
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text{
    position: relative;
    z-index: 1;
  }

  &__user{
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &__user-box{
    margin-right: auto;
  }

  &__user-name {
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__user-date{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.5rem;
    font-weight: 100;
  }

  /* this style is for quatation mark on reviews */
  &::before{
    content: "\201C";
    position: absolute;
    top: -2.25rem;
    left: -1.5rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-3);
    font-family: sans-serif;
  }
}